/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.c_border{
	border-right: 1px solid #000;
}
	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.c_border{
	border-right: 1px solid #000;
}
.fontsize66{
	font-size: 66px;
}
.portfolio h3{
	font-size: 28px;
}
.vdo p{
	font-size: 25px;
}	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.c_border{
	border-right: 1px solid #000;
}
.fontsize66{
	font-size: 66px;
}
.portfolio h3{
	font-size: 28px;
}
.vdo p{
	font-size: 25px;
}	
}