/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.font_brush{
	font-size: 50px;
}
.banner h1{
	font-size: 20px;
}
.Testimonials h2,.contact h2{
	font-size: 25px;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.banner h1{
	font-size: 30px;
}	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.c_border{
	border-right: 1px solid #000;
}
footer nav a{
	padding-right: 10px!important;
}
footer nav a:last-child{
	padding-right: 0px!important;
}
}
	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.c_border{
	border-right: 1px solid #000;
}
.fontsize66{
	font-size: 66px;
}
.portfolio p{
	font-size: 28px;
}
.vdo p{
	font-size: 25px;
}	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.c_border{
	border-right: 1px solid #000;
}
.fontsize66{
	font-size: 66px;
}
.portfolio p{
	font-size: 28px;
}
.vdo p{
	font-size: 25px;
}	
}
