@font-face{
	src: url(../fonts/Brushwell.ttf);
	font-family: Brushwell;
}
@font-face{
	src: url(../fonts/LouisGeorgeCafe.ttf);
	font-family: LouisGeorgeCafe;
}
@font-face{
	src: url(../fonts/RedVelvet-Regular.otf);
	font-family: RedVelvet-Regular;
}
@font-face{
	src: url(../fonts/nextart-light.otf);
	font-family: nextart-light;
}
.font_brush{
	font-family: Brushwell;
	font-size: 76px;
}
.font_RedVelvet{
	font-family: RedVelvet-Regular;
}
.font_nextart{
	font-family: nextart-light;
}
.p80{
	padding: 80px 0;
}
p,button{
	font-family: LouisGeorgeCafe;
}
/*header start*/
header{
	background: url(../images/headerbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
header ul li a{
	margin-right: 40px!important;
	border-bottom: 1px solid transparent;
}
header ul li a:hover{
	border-bottom: 1px solid #fff;
}
header ul li:last-child a{
	margin-right: 0!important;
}
.social_media{
	position: absolute;
	right: 0;
	bottom: 50%;
}
/*header end*/
/*portfolio start*/
.portfolio{
	background: url(../images/Portfoliobg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*vdo start*/
.vdo{
	background: url(../images/vdobg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*vdo end*/
/*gallery start*/
.custom_indicator li{
	width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: gray;
}
/*gallery end*/
/*blog start*/
.blog hr{
	width: 20px;
	padding-top: 1px;
	background: #000;
}
/*blog end*/
/*contact start*/
.contact{
	background: url(../images/contactbg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/*contact end*/
/*footer start*/
footer{
	background: url(../images/footerbg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/*footer end*/
